* {
    box-sizing: border-box;
    background-image: url('images/background-tile.png')
}

html {
    font-size: 100%;
}


.wrapper {
    margin: auto;
    width: 95%;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

h1, h2, input, button, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

h2 {
    font-size: 1.5em;
}

input, button, p, label {
    font-size: 1.2em;
}


button {
    margin: 10px 10px 10px 0;
    background: #ffffff;
    border-radius: 15%;
    display: block;
	text-align: center;
	margin: 10px auto;
}

#endscreen, #startscreen {
    display: block;
	text-align: center;
	margin: 0 auto;
}

.score {
    text-align: center;
}

@media all and (min-width:700px) {
    .wrapper {
        width: 75%;
    }
    main {
        text-align: left;
    }

    .score {
        text-align: left;
    }
    button{
        display: inline;
        text-align: left;
    }
    
    header {
        margin: 50px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
    input, button, p, label {
        font-size: 1.5em;
    }
    #endscreen, #startscreen {
        display: inline;
        text-align: left;
        margin: 0 auto;
    }
    
}

